body{ 
color: green;
background-color:black;
margin: 0px;
font-family: "Kanit Static", sans-serif;
}
header {
border-bottom: solid 2px green;
padding:20px;
font-size:32px;
color:yellow;
}
section{
background-color: yellow;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
{
.chamada-texto{
margin-right: 5%;
}
h1{
font-size: 40px;
}
p{
font-size: 20px;
}



}