body{ 
color: green;
background-color: rgb(0, 0, 0) ;
margin: 2px;
}
header {
    border: solid 2px rgb(red, green, blue);
    padding: 20px;
font-size: 32px;
color: rgb(red, green, blue);
}